.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header header" "nav-bar main";
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto;
}
a {
  text-decoration: none;
  color: black;
}

.header {
  grid-area: header;
  background-color: blue;
}

.nav-bar {
  grid-area: nav-bar;
}

.main {
  grid-area: main;
}

.article-item {
  background: red;
  margin-bottom: 5px;
}
