body {
  margin: 0;
  background-color: #3d5a80;
}
.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header header" "nav-bar main";
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto;
}
a {
  text-decoration: none;
  color: black;
}

.header {
  grid-area: header;
  background-color: blue;
}

.nav-bar {
  grid-area: nav-bar;
}

.main {
  grid-area: main;
}

.article-items {
  background: red;
  margin-bottom: 5px;
}

.error {
  display: flex;

  height: 100vh;
  color: white;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
